<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
</head>
<body>
    <div class="container mt-3">
        <div class="sup_bar mb-4">
            <h4 class="dinb">Edit My Account</h4>
            <a class="right mr-3" href="/quotes">Back</a>
            <a href="/logout"><button class="btn btn-primary">Logout</button></a>
        </div>
        <form action="/process_edit" method="POST">
            <div class="form-group">
                {% csrf_token %}
                {% if messages %}
                {% for message in messages %}
                    {% if message.extra_tags == 'first_name' %}
                    <p class="red">{{ message }}</p>
                    {% endif %}
                {% endfor %}
                {% endif %}
                <label for="first_name">First name:</label>
                <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}">
            </div>
            <div class="form-group">
                {% if messages %}
                {% for message in messages %}
                    {% if message.extra_tags == 'last_name' %}
                    <p class="red">{{ message }}</p>
                    {% endif %}
                {% endfor %}
                {% endif %}
                <label for="last_name">Last name:</label>
                <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}">
            </div>

            <div class="form-group">
                {% if messages %}
                {% for message in messages %}
                    {% if message.extra_tags == 'email' %}
                    <p class="red">{{ message }}</p>
                    {% endif %}
                {% endfor %}
                {% endif %}
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
            </div>
            <input type="hidden" name="id" value="{{ user.id }}">
            <input type="submit" class="btn btn-primary" value="Update">
        </form>
    </div>
</body>
</html>