<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Age</th>
        </thead>
        <tbody>
        {% for user in all_users %}
            <tr>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email_address}}</td>
                <td>{{user.age}}</td>
            </tr>
        {% endfor %}
        </tbody>
        <form action="/adduser" method="post">
        {% csrf_token %}
        First Name: <input type="text" name="first_name">
        Last Name: <input type="text" name="last_name">
        Email: <input type="email" name="email_address">
        Age: <input type="number" name="age">
        <input type="submit" value="Add!">
        </form>
    </table>
</body>
</html>