<!DOCTYPE html>
<html>
<head>
    <title>Playground</title>
    <style>
        div.container{
            display:flex;
            justify-content: center;
        }
        div div{
            height: 150px;
            width: 150px;
            margin: 10px;
            background-color: {{color}};
            border: 2px solid grey;
        }
    </style>
</head>
<body>
    <div class="container">
        {%for x in range(0,num)%}
            {%block content%}
            {{box|safe}}
            {%endblock%}
        {% endfor%}
    </div>
</body>
</html>