div {
  margin: 20px 0px 0px 400px;
  width: 500px !important;
}
label {
  margin: 20px 0px 0px 400px;
  width: 500px !important;
}
select {
  margin: 20px 0px 0px 400px;
  width: 500px !important;
}
.move {
  margin: 20px 0px 0px 400px;
}
